.Rproj.user
.Rhistory
.RData
.Ruserdata
data/occurrence_data/
data/spatial_data/
abundance-occupancy/
figures/occurrence_data/
figures/environmental_data/
data/occurrence_data/bbna_private
methods/manuscript/
occupancy/model_outputs/large_files/bombus_10km_1200minpop_1minUniqueDetections_4ints_3visits.rds
occupancy/model_outputs/large_files/syrphidae_10km_1000minpop_2minUniqueDetections_3ints_3visits_without_income.rds
occupancy/model_outputs/large_files/syrphidae_10km_1000minpop_2minUniqueDetections_3ints_3visits.rds
occupancy/model_outputs/large_files/syrphidae_10km_1200minpop_2minUniqueDetections_3ints_3visits.rds
